<div class="example-header">
  <mat-form-field class="full-width">
    <input matInput (keyup)="doFilter($event)"
      placeholder="Digite livro, cpf do usuário, data do empréstimo, data de devolução prevista ou data de devolução" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<mat-table mat-table [dataSource]="dataSource">


  <!-- nome -->
  <ng-container matColumnDef="tituloPrincipal">
    <mat-header-cell *matHeaderCellDef>Livro</mat-header-cell>
    <mat-cell *matCellDef="let exemplarEmprestimo">
      {{ exemplarEmprestimo.exemplar.livro.tituloPrincipal }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <mat-header-cell *matHeaderCellDef>Usuário</mat-header-cell>
    <mat-cell *matCellDef="let exemplarEmprestimo">{{ exemplarEmprestimo.usuario.cpf }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dataEmprestimo">
    <mat-header-cell *matHeaderCellDef>Data Empréstimo</mat-header-cell>
    <mat-cell *matCellDef="let exemplarEmprestimo">{{ exemplarEmprestimo.dataEmprestimo }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dataDevolucaoPrevista">
    <mat-header-cell *matHeaderCellDef>Data Prevista de devolução</mat-header-cell>
    <mat-cell *matCellDef="let exemplarEmprestimo">{{ exemplarEmprestimo.dataDevolucaoPrevista }}</mat-cell>
  </ng-container>



  <!-- Açoes -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="accent" aria-label="Realizar Empréstimo">
        <mat-icon (click)="onAdicionar()">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let exemplarEmprestimo" class="action-column">
      <button mat-icon-button color="primary" aria-label="Detalhar Empréstimo">
        <mat-icon (click)="onDetalhar(exemplarEmprestimo)">search</mat-icon>
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
